# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://survasurva246:ADdUGbd8vQeDqmIZ@cluster0.9yeywwz.mongodb.net
MONGODB_DB=meetclone

# Session Configuration
SESSION_SECRET=your_session_secret_here

# Socket.io Configuration
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
